@import "compass";

body {
    padding: 24px 16px;
    padding-top: 0;
}

h1 {
    font-size: 30px;
    letter-spacing: -2px;
    margin-bottom: 0.5em;
}

.group {
    width: 100%;
    padding: 0;
    @include float(none);
    
    h1 {
        font-size: 24px;
        margin-top: 1em;
    }
}

.features {
    li {
        padding: 0 0.5em;
        
        .title {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
    }
    
    .support {
        right: 0;
    }
}

#github-ribbon {
    display: none;
}