@import "compass/reset";
@import "compass";

$green: #8bd71f;
$light-green: mix($green, #FFF);
$even-lighter-green: mix($green, #FFF, 30%);
$dark-green: mix($green, #000, 70%);
$even-darker-green: mix($green, #000);
$red: #C00;
$yellow: #DD0;
$white-kinda: #FEFFEB;
//$noise: url("http://noisepng.com/64-90-4.png");
$noise: image-url("noise.png");

body {
    background-image: image-url("bg.png");
    background-color: $green;
    color: $white-kinda;
    font-family: "Droid Sans", sans-serif;
    padding: 48px;
    padding-top: 0;
}

a {
    color: $even-darker-green;
    text-decoration: none;
    
    &.spec {
        &:after {
            content: " ›";
            color: #CCC;
            text-transform: uppercase;
            font-size: 75%;
            @include text-shadow(none);
        }
        
        &:hover:after {
            color: #999;
            content: "   Spec ›";
        }
    }
}

#wrapper {
    @include clearfix;
    
    & > header {
        text-align: center;
        margin-bottom: 1em;
    }
}

#logo {
}

h1 {
    font-size: 48px;
    letter-spacing: -3px;
    color: $dark-green;
    @include text-shadow(rgba(255,255,255,0.4) 1px 1px, rgba(0,0,0,0.4) -1px -1px, rgba(255,255,255,0.5) 0 0 15px);
    margin-bottom: 1em;
    
    span {
        color: $even-darker-green;
    }
}

p.info {
    text-align: center;
}

.group {
    width: 30%;
    @include float(left);
    padding: 0 1.5%;
    margin-bottom: 2em;
    
    &:nth-child(4) {
        clear: left;
    }
    
    h1 {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        color: $white-kinda;
        @include text-shadow(rgba(0,0,0,0.3) 0 1px, rgba(255,255,255,0.5) 0 0 15px);
        margin-bottom: 0;
        
        &:before, &:after {
            color: mix(#FFF, $green);
        }
        
        &:before {
            content: "‹ ";
        }
        
        &:after {
            content: " ›";
        }
    }
}

.features {
    width: 100%;
    margin-top: 1em;
    background: $white-kinda $noise;
    @include border-radius(8px);
    @include box-shadow(rgba(0,0,0,0.5) 0 1px 2px);
    color: $even-darker-green;
    
    li {
        padding: 0 1em;
        position: relative;
        border-bottom: 1px dotted $light-green;
        @include text-shadow(
            $white-kinda 0 1px,
            rgba(0,0,0,0.15) 0 2px
        );
        position: relative;
        
        &:last-child {
            border-bottom: 0;
        }
        
        .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            padding: 0.5em 64px 0.5em 0;
        }
    }
    
    .support {
        text-align: center;
        color: #FFF;
        margin-right: 1em;
        position: absolute;
        top: 0.7em;
        right: 0.4em;
        margin-top: -2px;
        display: block;
        width: 18px;
        height: 18px;
        font-size: 12px;
        line-height: 18px;
        font-weight: bold;
        @include background(linear-gradient(top, rgba(255,255,255,0.3), rgba(255,255,255,0)));
        background-color: #AAA;
        border: 1px solid rgba(0,0,0,0.1);
        @include border-radius(9px);
        @include text-shadow(rgba(0,0,0,0.3) 0 -1px);
        @include box-shadow(rgba(255,255,255,0.6) 0 1px 1px inset, rgba(0,0,0,0.15) 0 -1px 1px inset);
    }
    
    .support-yes > .support {
        background-color: $green;
    }
    
    .support-no > .support {
        background-color: $red;
    }
    
    .support-maybe > .support {
        background-color: $yellow;
    }
}

.subfeatures {
    margin-bottom: 0.5em;
    
    li {
        font-size: 80%;
        border: 0;
        padding-right: 0;
        
        .support {
            top: 0.5em;
            right: 0;
            margin-right: 0;
        }
    }
}

footer {
    font-size: 12px;
    clear: both;
    text-align: center;
    line-height: 1.4;
    
    a {
        color: $dark-green;
        text-decoration: none;
    }
}

#useragent {
    margin-bottom: 1em;
}

#social {
    margin-top: 1em;
}

#github-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
