@import "compass/reset";
@import "compass";

$green: #8bd71f;
$light-green: mix($green, #FFF);
$even-lighter-green: mix($green, #FFF, 30%);
$dark-green: mix($green, #000, 70%);
$even-darker-green: mix($green, #000);
$red: #C00;
$yellow: #CC0;
$white-kinda: #FEFFEB;
//$noise: url("http://noisepng.com/64-90-4.png");
$noise: image-url("noise.png");

body {
    background-image: $noise;
    background-color: $green;
    color: $white-kinda;
    font-family: "Droid Sans", sans-serif;
    padding: 48px;
}

a {
    color: $even-darker-green;
    text-decoration: none;
    
    &.spec {
        &:after {
            content: " ›";
            color: #CCC;
            text-transform: uppercase;
            font-size: 75%;
            @include text-shadow(none);
        }
        
        &:hover:after {
            color: #999;
            content: "   Spec ›";
        }
    }
}

#wrapper {
    @include clearfix;
    
    & > header {
        text-align: center;
        margin-bottom: 1em;
    }
}

h1 {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -3px;
    color: $dark-green;
    @include text-shadow(rgba(255,255,255,0.4) 1px 1px, rgba(0,0,0,0.4) -1px -1px, rgba(255,255,255,0.5) 0 0 15px);
    margin-bottom: 1em;
    
    span {
        color: $even-darker-green;
    }
}

p.info {
    text-align: center;
}

.group {
    width: 30%;
    @include float(left);
    padding: 0 1.5%;
    margin-bottom: 2em;
    
    &:nth-child(4) {
        clear: left;
    }
    
    h1 {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        color: $white-kinda;
        @include text-shadow(rgba(0,0,0,0.3) 0 1px, rgba(255,255,255,0.5) 0 0 15px);
        margin-bottom: 0;
        
        &:before, &:after {
            color: mix(#FFF, $green);
        }
        
        &:before {
            content: "‹ ";
        }
        
        &:after {
            content: " ›";
        }
    }
}

.features {
    width: 100%;
    margin-top: 1em;
    background: $white-kinda $noise;
    @include border-radius(8px);
    @include box-shadow(rgba(0,0,0,0.5) 0 1px 2px);
    color: $even-darker-green;
    
    li {
        padding: 0 1em;
        border-bottom: 1px dotted $light-green;
        @include text-shadow(
            $white-kinda 0 1px,
            rgba(0,0,0,0.15) 0 2px
        );
        position: relative;
        
        &:last-child {
            border-bottom: 0;
        }
        
        .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            padding: 0.5em 64px 0.5em 0;
        }
    }
    
    .support {
        text-align: center;
        color: #FFF;
        padding-right: 1em;
        padding-left: 0.3em;
        position: absolute;
        top: 0.5em;
        margin-top: -2px;
        right: 0;
        display: block;
        
        &:after {
            text-align: center;
            width: 18px;
            height: 18px;
            display: block;
            content: "N";
            font-size: 12px;
            line-height: 18px;
            font-weight: bold;
            @include background(linear-gradient(top, rgba(255,255,255,0.3), rgba(255,255,255,0)));
            background-color: $red;
            border: 1px solid rgba(0,0,0,0.1);
            @include border-radius(9px);
            @include text-shadow(rgba(0,0,0,0.3) 0 -1px);
            @include box-shadow(rgba(255,255,255,0.6) 0 1px 1px inset, rgba(0,0,0,0.15) 0 -1px 1px inset);
        }
    }
}

.subfeatures {
    margin-bottom: 0.5em;
    
    li {
        font-size: 80%;
        border: 0;
        padding-right: 0;
        
        .support {
            padding-right: 0;
        }
    }
}

$yesSelector: "";
$noSelector: "";
$maybeSelector: "";
@each $feature in /* FEATURES START */fontface, backgroundsize, borderimage, borderradius, boxshadow, flexbox, generatedcontent, hsla, multiplebgs, opacity, rgba, textshadow, cssanimations, csscolumns, cssgradients, cssreflections, csstransforms, csstransforms3d, csstransitions, applicationcache, canvas, canvastext, draganddrop, hashchange, history, audio, audio-mp3, audio-wav, audio-m4a, audio-ogg, video, video-h264, video-ogg, video-webm, indexeddb, localstorage, postmessage, sessionstorage, websockets, websqldatabase, webworkers, inputtypes-search, inputtypes-tel, inputtypes-url, inputtypes-email, inputtypes-datetime, inputtypes-date, inputtypes-month, inputtypes-week, inputtypes-time, inputtypes-datetime-local, inputtypes-number, inputtypes-range, inputtypes-color, input-autocomplete, input-autofocus, input-list, input-placeholder, input-max, input-min, input-multiple, input-pattern, input-required, input-step, geolocation, inlinesvg, smil, svg, svgclippaths, touch, webgl/* FEATURES END */ {

    $yesSelector: "#{$yesSelector} html.#{$feature} .feature.#{$feature} > .support:after,";
    $noSelector: "#{$noSelector} html.no-#{$feature} .feature.#{$feature} > .support:after,";
    $maybeSelector: "#{$maybeSelector} html.maybe-#{$feature} .feature.#{$feature} > .support:after,";
}

#{$yesSelector} {
    background-color: $green;
    content: "Y";
}

#{$maybeSelector} {
    background-color: $yellow;
    content: "M";
}

footer {
    font-size: 12px;
    clear: both;
    text-align: center;
    line-height: 1.4;
    
    a {
        color: $dark-green;
        text-decoration: none;
    }
}

#useragent {
    margin-bottom: 1em;
}

#social {
    margin-top: 1em;
}

#github-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
